body {
    background: #0e0f0f;
    margin: 0;
}

* {
    /* border: 1px solid #fff; */
    color: rgb(140, 130, 115);
    box-sizing: border-box;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

svg{
  cursor: pointer;
}

