body {
    background: #0e0f0f;
    margin: 0;
}

* {
    /* border: 1px solid #fff; */
    color: rgb(140, 130, 115);
    box-sizing: border-box;
    font-family: sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

svg{
  cursor: pointer;
}

